#ignore temp files
*~
#ignore panoimage files
webapp/static/panoimg/*.jpg
#ignore compiled python files
*.pyc
#ignore eclipse project files
*.project
*.pydevproject
*.settings/
#ignore config
rrvs_config.py
