<!DOCTYPE html>
<html style=""><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
	<title>CARAVAN Leaflet Test</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/leaflet/leaflet.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="../static/leaflet/leaflet.js"></script>
	<script src="../static/panoimg/gps.js" type="text/javascript"></script>
	<script src="../static/panoimg/buildings.js" type="text/javascript"></script>
	<!--<script src="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.js"></script>-->
</head>
<body class="">
	<div id="map"></div>		
	<script>
		//add map object
		var map = L.map('map');
		
		//define layer variables
		var gpsJSON;
		var buildingsJSON;
	
		//add baselayer
		var basemap = L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Processing &copy; <a href="http://www.gfz-potsdam.de/en/research/organizational-units/technology-transfer-centres/centre-for-early-warning-systems-ews/">GFZ Potsdam - Centre for Early Warning Systems</a>' +
						 ' | Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>, ',
			id: 'examples.map-i875mjb7'
		}).addTo(map);

		//function for static building style
		function building_style(feature) {
			return {
				fillColor: '#efefef',
				fillOpacity: 0.6,
				weight: 1,
                opacity: 1,
                color: '#afafaf'
			};
		}
		
		//functions for dynamic point layer styles and get-feature-info
		function style(feature) {
			return {
				radius: 4,
				fillColor: '#0B0B3B',
				color: '#0B0B3B',
				opacity: 0.8,
				fillOpacity: 0.6
			};
		}		
		
		function highlightFeature(e) {
			var layer = e.target;
			layer.setStyle({
				radius: 8,
				fillColor: '#0B0B3B',
				color: '#2E9AFE',
				opacity: 1,
				fillOpacity: 0.6
			});
			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
			info.update(layer.feature.properties);
		}
		
		function resetHighlight(e) {
			gpsJSON.resetStyle(e.target);
			info.update();
		}
		
		//function for interaction between gps layer and panoImg iframe
		function updatePanoImg(e) {
			// zoom to feature in map
			map.fitBounds(e.target.getBounds(), {maxZoom: 17});
			// update src of iframe 1 (panoImg)
			var ifrm = parent.document.getElementById('ifrm1');
			var src = "{{ url_for('pannellum') }}?panorama=../static/panoimg/ladybug_panoramic_" + e.target.feature.properties.img_id + ".jpg&title=FrameID: " + e.target.feature.properties.img_id + "&autoLoad=true";
			ifrm.src = src.replace(/%26/g, "&amp;");
		}
		
		//function for interaction between building layer and rrvsForm iframe
		function updateForm(e) {
			// update content of iframe 3 (rrvsForm)
			var ifrm = parent.document.getElementById('ifrm3');
			var doc = ifrm.contentDocument? ifrm.contentDocument: ifrm.contentWindow.document;
			//doc.getElementById('building_id').innerHTML = "BuildingID: " + e.target.feature.properties.gid;
			doc.forms['rrvsForm'].elements['gid_field'].value = e.target.feature.properties.gid;
		}
		
		//function for adding actions to mouse events on gps layer
		function onEachFeatureGps(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: updatePanoImg
			});
		}
		
		//function for adding actions to mouse events on buildings layer
		function onEachFeatureBuilding(feature, layer) {
			layer.on({
				click: updateForm
			});
		}
		
		//add gps layer
		gpsJSON = L.geoJson(gps,{
			style: style,
			onEachFeature: onEachFeatureGps,
			pointToLayer: function (feature, latlng) {  
				return L.circleMarker(latlng)
				}
			});	
		gpsJSON.addTo(map);
		
		//add buildings layer
		buildingsJSON = L.geoJson(buildings,{
			style: building_style,
			onEachFeature: onEachFeatureBuilding
			});			
		buildingsJSON.addTo(map);
		
		//focus map on layer extent
		map.fitBounds(gpsJSON.getBounds());
		
		//add osm geocoder search bar
		//var osmGeocoder = new L.Control.OSMGeocoder({
            //collapsed: false,
            //position: 'topright',
            //text: 'Find',
		//});
		//osmGeocoder.addTo(map);
		
		//control that shows info on hover
		var info = L.control();
		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};
		info.update = function (props) {
			this._div.innerHTML = (props ?
				'<b>FrameID: ' + props.img_id + '</b><br/>Azimuth: ' + props.azimuth + '</sup>'
				: 'PanoImage Information');
		};
		info.addTo(map);

		//add layer control
		L.control.layers({'OpenStreetMap': basemap},
						 {"PanoImages": gpsJSON,
						 "Buildings": buildingsJSON},
						 {collapsed:true}).addTo(map);
		
		//add scale
		L.control.scale({options: {position: 'bottomleft',maxWidth: 100,metric: true,imperial: false,updateWhenIdle: false}}).addTo(map);
	</script>
</body>
</html>
