<!DOCTYPE html>
<html>
<head>
	<title>RRVS Webtool - Map</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">	
	<script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
	<script src="{{ url_for('static', filename='leaflet-knn.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.0.min.js') }}"></script>
</head>
<body>
	<div id="map"></div>	
	<script>
		//add map object
		var map = L.map('map');
		
		//define layer variables
		var gpsJSON;
		var buildingsJSON;
	
		//add baselayer
        var basemap = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
attribution: "<a href='http://www.mapbox.com/about/maps/' target='_blank'>&copy; Mapbox &copy; OpenStreetMap</a> <a class='mapbox-improve-map' href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map </a><span id=latlon>&nbsp;</span>",
            maxZoom: 17,
            id: 'mapbox.streets-satellite',
            accessToken: 'pk.eyJ1IjoibWhhYXMiLCJhIjoiY2lqbjU0dWdsMDA0NHZobTNkNHhoNG41YiJ9.b3KQYD4pgNv91lJK9mcN5w'
        }).addTo(map);
	//	var basemap = L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
	//		maxZoom: 18,
	//		attribution: 'Processing &copy; <a href="http://www.gfz-potsdam.de/en/section/ews/">GFZ Potsdam - Centre for Early Warning Systems</a>' +
	//					 ' | Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>, ',
	//		subdomains: ['otile1','otile2','otile3','otile4']
	//	}).addTo(map);

		//functions for dynamic building polygon styles
		function getColor(feature) {
			var status = feature.properties.rrvs_status;
			switch(status) {
				case "UNMODIFIED": return "#ff000d";
				case "MODIFIED": return "#ffa500";
				case "COMPLETED": return "#13922f";
			}
		}
		
		function building_style(feature) {
			return {
				fillColor: getColor(feature),
				fillOpacity: 0.5,
				weight: 1,
                opacity: 0.5,
                color: getColor(feature)
			};
		}
		
		function highlightBuilding(e) {
			var layer = e.target;
			layer.setStyle({
				weight: 3,
                opacity: 1,
                color: '#008000'
			});
			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
		}
		
		function resetHighlightBuilding() {
			buildingsJSON.setStyle(building_style);		
		}
		
		//variable for dynamic gps point layer style and get-feature-info
		var gpsDefaultStyle = {
				radius: 4,
				fillColor: '#0B0B3B',
				color: '#0B0B3B',
				opacity: 0.8,
				fillOpacity: 0.6
		}		

        //variable with highlighted GPS img marker style
        var gpsHighlightStyle = {
				radius: 8,
				fillColor: '#0B0B3B',
				color: '#2E9AFE',
				opacity: 1,
				fillOpacity: 0.6
        }

        //variable to keep track of highlighted gps img marker
        var highlightedGPS = null;

	    //function removing highlight from GPS image marker if set
		function resetHighlightGPS() {
            if (highlightedGPS != null){
                highlightedGPS.setStyle(gpsDefaultStyle);
                highlightedGPS = null;
            }
		}
        
        //object to keep gps location, azimuth of selected image and location of selected bdg
        var imgBdgData = Object.create(null);

        //object to keep panoramic image configuration
        var configPano = new Object();

        //update image related parameters
        function updateImgParams(e){
            //update imgBdgData object
            imgBdgData.imgLoc = e.getLatLng();
            imgBdgData.imgAzi = e.feature.properties.azimuth;
        }
        
		//function for interaction between gps layer and panoImg iframe
		function updatePanoImg() {
			// zoom to feature in map
			//map.fitBounds(highlightedGPS.getBounds(), {maxZoom: 18});
			// update src of iframe 1 (panoImg)
            // distinguish between frame mode or multi window mode
            if(self==top){
			    var ifrm = opener.document.getElementById('ifrm1');
            }else{
			    var ifrm = parent.document.getElementById('ifrm1');
            }
            configPano.lat = imgBdgData.imgLoc.lat;
            configPano.lon = imgBdgData.imgLoc.lng;
            if (!configPano.yaw){
                configPano.yaw = 0.;
            }
            //convert json to URI
            var config_json = JSON.stringify(configPano);
            config_json = encodeURIComponent(config_json);
            //reset panellum image source
            ifrm.src = "{{ url_for('streetview') }}?"+config_json;
            //ifrm.src = "{{ url_for('streetview') }}";
		}

        //function to calculate angle between two points in degrees p1 to p2
        var angleDeg = function (p1,p2){
            return Math.atan2(p2.lat - p1.lat, p2.lng - p1.lng) * 180 / Math.PI;
        }

        // function to calculate image building location parameters
        function imgBdgInteraction(){
            var ang = angleDeg(imgBdgData.imgLoc,imgBdgData.bdgLoc);
            configPano.lat = imgBdgData.imgLoc.lat
            configPano.lon = imgBdgData.imgLoc.lng
            //google panos always oriented towards north
            configPano.yaw = 90-ang;
        }

		//function for refreshing rrvsForm iframe and pannellum iframe based on map iframe action
		function updateForm(e) {
			// update content of iframe 3 (rrvsForm)
			var ifrm = parent.document.getElementById('ifrm3');
			var doc = ifrm.contentDocument? ifrm.contentDocument: ifrm.contentWindow.document;
			doc.forms['rrvsForm'].elements['gid_field'].focus();	// focus in and out of the gid_field is needed by rrvsform.html to trigger the form update function (on focusout)
			doc.forms['rrvsForm'].elements['gid_field'].value = e.target.feature.properties.gid;
			doc.forms['rrvsForm'].elements['rrvs_status_field'].focus();	
			// update building map styles
			resetHighlightBuilding();
			highlightBuilding(e);
            //store the building location
            imgBdgData.bdgLoc=e.latlng;
            // update panoramic image
            // find closest img 
            //var closestImg = L.GeometryUtil.closestLayer(map, [gpsJSON], imgBdgData.bdgLoc);
            var closestImg = leafletKnn(gpsJSON).nearestLayer(imgBdgData.bdgLoc,1);
            closestImg = closestImg[0].layer;
            //update gps map styles
            resetHighlightGPS();
            closestImg.setStyle(gpsHighlightStyle);
            highlightedGPS=closestImg;
            //set configPano and imgBdgData accordingly
            updateImgParams(closestImg);
            imgBdgInteraction();
            //update the image
            updatePanoImg();
		}
        
        //function for refreshing map iframe and pannellum iframe based on rrvsForm iframe action
		function updateMap(gid) {
			// get feature by id
			var e = buildingsJSON.getLayer(gid);
            //get zoom level and layer bounds
            //var zl = map.getZoom();
            //map.setView([e.latLng.lat, e.latLng.lng], zl);
            map.fitBounds(e.getBounds());
			// update building map styles
			resetHighlightBuilding();
			e.setStyle({
				weight: 3,
                opacity: 1,
                color: '#008000'
			});
			//store the building location
            //imgBdgData.bdgLoc=([e.feature.geometry.coordinates[0][0][0][0], e.feature.geometry.coordinates[0][0][0][1]]);
            imgBdgData.bdgLoc=L.latLng(e.feature.geometry.coordinates[0][0][0][1], e.feature.geometry.coordinates[0][0][0][0]);
            // update panoramic image
            // find closest img 
            var closestImg = leafletKnn(gpsJSON).nearestLayer(imgBdgData.bdgLoc,1);
            closestImg = closestImg[0].layer;
            //update gps map styles
            resetHighlightGPS();
            closestImg.setStyle(gpsHighlightStyle);
            highlightedGPS=closestImg;
            //set configPano and imgBdgData accordingly
            updateImgParams(closestImg);
            //imgBdgData.bdgLoc=L.latLng(e.feature.geometry.coordinates[0][0][0][0], e.feature.geometry.coordinates[0][0][0][1]);
            imgBdgInteraction();
            //update the image
            updatePanoImg();
		}
        
        //function to highlight clicked img and update panellum frame
        function clickedImg(e){
            resetHighlightGPS(); 
            e.target.setStyle(gpsHighlightStyle);
            highlightedGPS=e.target;
            //update the image related parameters
            updateImgParams(highlightedGPS);
            //In case a building was selected before calculate yaw
            if(imgBdgData.bdgLoc != undefined){
                imgBdgInteraction();
            }
            updatePanoImg();
        }

		//function for adding actions to mouse events on gps layer
		function onEachFeatureGps(feature, layer) {
			layer.on({
				//mouseover: highlightFeature,
				//mouseout: resetHighlight,
                click: clickedImg
			});
		}
		
		//function for adding actions to mouse events on buildings layer
		function onEachFeatureBuilding(feature, layer) {
			layer._leaflet_id = feature.id;	// to select feature by id from outside map
			layer.on({
				click: updateForm
			});
		}
		
		//add gps layer
		gpsJSON = L.geoJson({{gps|safe}},{
			style: gpsDefaultStyle,
			onEachFeature: onEachFeatureGps,
			pointToLayer: function (feature, latlng) {  
				return L.circleMarker(latlng)
				}
			});	
		gpsJSON.addTo(map);
			
		//add buildings layer
		buildingsJSON = L.geoJson({{bdgs|safe}},{
		style: building_style,
		onEachFeature: onEachFeatureBuilding
		});
		buildingsJSON.addTo(map);
		
		//focus map on layer extent
		map.fitBounds(gpsJSON.getBounds());

		//control that shows info on hover
		//var info = L.control();
		//info.onAdd = function (map) {
			//this._div = L.DomUtil.create('div', 'info');
			//this.update();
			//return this._div;
		//};
		//info.update = function (props) {
			//this._div.innerHTML = (props ?
				//'<b>FrameID: ' + props.img_id + '</b><br/>Azimuth: ' + props.azimuth + '</sup>'
				//: 'PanoImage Information');
		//};
		//info.addTo(map);
    
        //adding lat lon display when moving with the mouse on the map, and when clicking
        var latlon = jQuery("#latlon");
        var setLatLon = function (e) {
            var lat = "--.---";
            var lng = "--.---";
            if (e && e.latlng) {
                var l = e.latlng;
                lat = l.lat.toFixed(4);
                lng = l.lng.toFixed(4);
            }
            latlon.html("lat: " + lat + " lng: " + lng);
        };

        //add event listener for mouse moving:
        map.on('mousemove', function (e) {
            setLatLon(e);
        });
        map.on('click', function (e) {
            setLatLon(e);
        });
        //set default:
        setLatLon();

		//add layer control
		L.control.layers({'OpenStreetMap': basemap},
						 {"PanoImages": gpsJSON,
						 "Buildings": buildingsJSON},
						 {collapsed:true}).addTo(map);
		
		//add scale
		L.control.scale({options: {position: 'bottomleft',maxWidth: 100,metric: true,imperial: false,updateWhenIdle: false}}).addTo(map);
	</script>
</body>
</html>
