<!DOCTYPE html>
<html>
<head>
	<title>RRVS Webtool - Map</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">	
	<script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
	<script src="{{ url_for('static', filename='leaflet-knn.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.0.min.js') }}"></script>
</head>
<body>
	<div id="map"></div>	
	<script>
	    	//Function to get active layers
	    	L.Control.Layers.include({
	    	    getActiveLayers: function () {
	    	
	    	        // Create array for holding active layers
	    	        var active = [];
			var layers = this._layers;
	    	
	    	        // Iterate all layers in control
			for (var key in layers){
			    if (layers.hasOwnProperty(key)){
		    	    	var obj = layers[key];//['layer'];
	    	            	// Check if it's added to the map
	    	            	if (map.hasLayer(obj.layer)) {
				    //console.log(obj);
	    	            	    // Push layer to active array
	    	            	    active.push(obj.name);
	    	            	}
			    }
			};
	    	
	    	        // Return array
	    	        return active;
	    	    }
	    	});

		//function that given a list of names of leaflet layers adds them (after they have been created)
		function addLayersByName(names) {
			//basemap+overlay layers	
			console.log('names:'+names)
			//both layer groups
			layers = [baseLayers,overlayLayers]
			for (i in layers ){
				//get active group
				group = layers[i]
				console.log('group:'+group)
				for (key in group){
					console.log('key:'+key)
					if (names.includes(key)){
						console.log('valid key:'+key);
						group[key].addTo(map);
					}
					
				}
			}
		}
		
		
		//define layer variables
		var gpsJSON;
		var buildingsJSON;
	
		//add baselayer
        	var mapboxLink = "<a href='http://www.mapbox.com/about/maps/'</a>",
	            snitLink = '<a href="http://www.snitcr.go.cr"</a>';
        
        	var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
		    mapboxAttrib = "<a href='http://www.mapbox.com/about/maps/' target='_blank'>&copy; Mapbox &copy; OpenStreetMap</a> <a class='mapbox-improve-map' href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map </a><span id=latlon>&nbsp;</span>"
            	    snitUrl = 'http://geos0.snitcr.go.cr/cgi-bin/web?map=ortofoto.map&SERVICE=WMS&version=1.1.1?',
            	    snitAttrib = '&copy; '+snitLink+' Contributors';

        	var mapboxMap = L.tileLayer(mapboxUrl, {attribution: mapboxAttrib, maxZoom: 20, id: 'mapbox.streets-satellite', accessToken: 'Note: Add token here'}),
            	    snitMap = L.tileLayer.wms(snitUrl, {attribution: snitAttrib, layers: 'Mosaico1000',maxZoom: 20});
		
		//console.log(mapboxMap);


		var baseLayers = {
			"Mapbox Satellite": mapboxMap,
			"SNIT": snitMap
		};
		
		//variable for dynamic gps point layer style and get-feature-info
		var gpsDefaultStyle = {
				radius: 4,
				fillColor: '#0B0B3B',
				color: '#0B0B3B',
				opacity: 0.8,
				fillOpacity: 0.6
		}		

		//add gps layer
		gpsJSON = L.geoJson({{gps|safe}},{
			style: gpsDefaultStyle,
			onEachFeature: onEachFeatureGps,
			pointToLayer: function (feature, latlng) {  
				return L.circleMarker(latlng)
				}
			});	
			
		//add buildings layer
		buildingsJSON = L.geoJson({{bdgs|safe}},{
		style: building_style,
		onEachFeature: onEachFeatureBuilding
		});

		var overlayLayers = {"PanoImages": gpsJSON,
			       	     "Buildings": buildingsJSON};

		//add map object
		var map = L.map('map', {layers:[mapboxMap,buildingsJSON,gpsJSON]});

		//add layer control
		var control = L.control.layers(baseLayers, overlayLayers).addTo(map);
		
		//functions for dynamic building polygon styles
		function getColor(feature) {
			var status = feature.properties.rrvs_status;
			switch(status) {
				case "UNMODIFIED": return "#ff000d";
				case "MODIFIED": return "#ffa500";
				case "COMPLETED": return "#13922f";
			}
		}
		
		function building_style(feature) {
			return {
				fillColor: getColor(feature),
				fillOpacity: 0.5,
				weight: 1,
                		opacity: 0.5,
                		color: getColor(feature)
			};
		}
		
		function highlightBuilding(e) {
			var layer = e.target;
			layer.setStyle({
				weight: 3,
                opacity: 1,
                color: '#008000'
			});
			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
		}
		
		function resetHighlightBuilding() {
			buildingsJSON.setStyle(building_style);		
		}
		

        	//variable with highlighted GPS img marker style
        	var gpsHighlightStyle = {
					radius: 8,
					fillColor: '#0B0B3B',
					color: '#2E9AFE',
					opacity: 1,
					fillOpacity: 0.6
        	}

        	//variable to keep track of highlighted gps img marker
        	var highlightedGPS = null;

		    //function removing highlight from GPS image marker if set
			function resetHighlightGPS() {
        	    if (highlightedGPS != null){
        	        highlightedGPS.setStyle(gpsDefaultStyle);
        	        highlightedGPS = null;
        	    }
			}
        	
        	//object to keep gps location, azimuth of selected image and location of selected bdg
        	var imgBdgData = Object.create(null);

        	//object to keep panoramic image configuration
        	var configPano = new Object();
        	configPano.autoLoad=true;
        	//Temporary Fix
        	configPano.ignoreGPanoXMP=true;

        	//update image related parameters
        	function updateImgParams(e){
        	    //update imgBdgData object
        	    imgBdgData.imgLoc = e.getLatLng();
        	    imgBdgData.imgAzi = e.feature.properties.azimuth;
        	    //update configPano
        	    //configPano.panorama = "/panellum/../static/panoimg/ladybug_panoramic_" + imgBdgData.img_id + ".jpg";
        	    configPano.panorama = "/pano/"+e.feature.properties.repository + "/"+ e.feature.properties.filename;
        	    configPano.title = "FrameID: " + e.feature.properties.frame_id;
        	    //Google Streetview link
        	    var gsv = "http://maps.google.com?layer=c&cbll="+imgBdgData.imgLoc.lat+','+imgBdgData.imgLoc.lng+"&cbp=12,"+imgBdgData.imgAzi+","+"0,5";
        	    configPano.author = gsv;
        	}
        	
		//function for interaction between gps layer and panoImg iframe
		function updatePanoImg() {
        	    	// distinguish between frame mode or multi window mode
        	    	if(self==top){
		    	    	    var ifrm = opener.document.getElementById('ifrm1');
        	    	}else{
		    	    	    var ifrm = parent.document.getElementById('ifrm1');
        	    	}
        	    	//convert json to URI
        	    	var config_json = JSON.stringify(configPano);
        	    	config_json = encodeURIComponent(config_json);
        	    	//reset panellum image source
        	    	ifrm.src = "{{ url_for('pannellum') }}?config="+config_json;
		}

        	//function to calculate angle between two points in degrees p1 to p2
        	var angleDeg = function (p1,p2){
        	    return Math.atan2(p2.lat - p1.lat, p2.lng - p1.lng) * 180 / Math.PI;
        	}

        	// function to calculate image building location parameters
        	function imgBdgInteraction(){
        	    var ang = angleDeg(imgBdgData.imgLoc,imgBdgData.bdgLoc);
        	    configPano.yaw = (90-ang)-imgBdgData.imgAzi;
        	    configPano.hotSpots = [{pitch:'0',yaw:configPano.yaw,type:'info',text:'{{_('Selected building')}}'}];
        	}

		//function for refreshing rrvsForm iframe and pannellum iframe based on map iframe action
		function updateForm(e) {
			// update content of iframe 3 (rrvsForm)
			var ifrm = parent.document.getElementById('ifrm3');
			var doc = ifrm.contentDocument? ifrm.contentDocument: ifrm.contentWindow.document;
			doc.forms['rrvsForm'].elements['gid_field'].focus();	// focus in and out of the gid_field is needed by rrvsform.html to trigger the form update function (on focusout)
			doc.forms['rrvsForm'].elements['gid_field'].value = e.target.feature.properties.gid;
			doc.forms['rrvsForm'].elements['rrvs_status_field'].focus();	
			// update building map styles
			resetHighlightBuilding();
			highlightBuilding(e);
        		//store the building location
        		imgBdgData.bdgLoc=e.latlng;
        		// update panoramic image
        		// find closest img 
        		//var closestImg = L.GeometryUtil.closestLayer(map, [gpsJSON], imgBdgData.bdgLoc);
        		var closestImg = leafletKnn(gpsJSON).nearestLayer(imgBdgData.bdgLoc,1);
        		closestImg = closestImg[0].layer;
        		//update gps map styles
        		resetHighlightGPS();
        		closestImg.setStyle(gpsHighlightStyle);
        		highlightedGPS=closestImg;
        		//set configPano and imgBdgData accordingly
        		updateImgParams(closestImg);
        		imgBdgInteraction();
        		//update the image
        		updatePanoImg();
 		    }
	
        
            //function for refreshing map iframe and pannellum iframe based on rrvsForm iframe action
	    function updateMap(gid,active) {
			console.log('here:'+gid)
			//active = control.getActiveLayers();
			//console.log('active:'+active);
			// get feature by id
			var e = buildingsJSON.getLayer(gid);
			//Only execute if building selected
			if (typeof e != 'undefined'){
		//		e.setStyle(building_style);
				//zoom to building
	            		map.fitBounds(e.getBounds());

				//update map selected layers
				//remove layers
				map.eachLayer(function(layer){
					//console.log(layer);
			    		map.removeLayer(layer);
				});
				
                        	//add layers
				addLayersByName(active);

				// update building map styles
				resetHighlightBuilding();
				e.setStyle({
					weight: 3,
                			opacity: 1,
 		                	color: '#008000'
				});

				//store the building location
            			//imgBdgData.bdgLoc=([e.feature.geometry.coordinates[0][0][0][0], e.feature.geometry.coordinates[0][0][0][1]]);
            			imgBdgData.bdgLoc=L.latLng(e.feature.geometry.coordinates[0][0][0][1], e.feature.geometry.coordinates[0][0][0][0]);
            			// update panoramic image
            			// find closest img 
            			var closestImg = leafletKnn(gpsJSON).nearestLayer(imgBdgData.bdgLoc,1);
            			closestImg = closestImg[0].layer;
            			//update gps map styles
            			resetHighlightGPS();
            			closestImg.setStyle(gpsHighlightStyle);
            			highlightedGPS=closestImg;
            			//set configPano and imgBdgData accordingly
            			updateImgParams(closestImg);
            			//imgBdgData.bdgLoc=L.latLng(e.feature.geometry.coordinates[0][0][0][0], e.feature.geometry.coordinates[0][0][0][1]);
            			imgBdgInteraction();
            			//update the image
            			updatePanoImg();
			};
			
		}
        
        	//function to highlight clicked img and update panellum frame
        	function clickedImg(e){
        	    resetHighlightGPS(); 
        	    e.target.setStyle(gpsHighlightStyle);
        	    highlightedGPS=e.target;
        	    //update the image related parameters
        	    updateImgParams(highlightedGPS);
        	    //In case a building was selected before calculate yaw
        	    if(imgBdgData.bdgLoc != undefined){
        	        imgBdgInteraction();
        	    }
        	    updatePanoImg();
        	}

		//function for adding actions to mouse events on gps layer
		function onEachFeatureGps(feature, layer) {
			layer.on({
				//mouseover: highlightFeature,
				//mouseout: resetHighlight,
                		click: clickedImg
			});
		}
		
		//function for adding actions to mouse events on buildings layer
		function onEachFeatureBuilding(feature, layer) {
			layer._leaflet_id = feature.id;	// to select feature by id from outside map
			layer.on({
				click: updateForm
			});
		}
		
		
		//focus map on layer extent
		map.fitBounds(gpsJSON.getBounds());

		//control that shows info on hover
		//var info = L.control();
		//info.onAdd = function (map) {
			//this._div = L.DomUtil.create('div', 'info');
			//this.update();
			//return this._div;
		//};
		//info.update = function (props) {
			//this._div.innerHTML = (props ?
				//'<b>FrameID: ' + props.img_id + '</b><br/>Azimuth: ' + props.azimuth + '</sup>'
				//: 'PanoImage Information');
		//};
		//info.addTo(map);
    
        	//adding lat lon display when moving with the mouse on the map, and when clicking
        	var latlon = jQuery("#latlon");
        	var setLatLon = function (e) {
        	    var lat = "--.---";
        	    var lng = "--.---";
        	    if (e && e.latlng) {
        	        var l = e.latlng;
        	        lat = l.lat.toFixed(4);
        	        lng = l.lng.toFixed(4);
        	    }
        	    latlon.html("lat: " + lat + " lng: " + lng);
        	};

        	//add event listener for mouse moving:
        	map.on('mousemove', function (e) {
        	    setLatLon(e);
        	});
        	map.on('click', function (e) {
        	    setLatLon(e);
        	});
        	//set default:
        	setLatLon();

		//add scale
		L.control.scale({options: {position: 'bottomleft',maxWidth: 100,metric: true,imperial: false,updateWhenIdle: false}}).addTo(map);
	</script>
</body>
</html>
