<!DOCTYPE HTML>
<html>
<head>
    <title>RRVS Webtool - Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/media/css/jquery.dataTables.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.12.0.min.js') }}"></script>
	<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/media/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script LANGUAGE="JavaScript"> 
    function height2switch(div,choice){
        var selected=document.getElementById("heightRadio");
        if (selected.value="H99"){
            document.getElementById("height2").style.display="none";
        }else{
            document.getElementById("height2").style.display="block";
        }
    };
    function secondIrregCheck() {
        if (document.getElementById('secondIrregCheck').checked) {
            document.getElementById('secondIrreg').style.display = 'block';
        } else {
            document.getElementById('secondIrreg').style.display = 'none';
        }
    };
    </script>
</head>
<body>  
	<form id="rrvsForm" action="{{ url_for('rrvsform') }}" method=post>
		{{ rrvs_form.hidden_tag() }}   				
		<div class="tabs">
		   <div class="formLayoutGeneral"> 
				<img class="banner" src="{{ url_for('static', filename='img/banner.svg') }}" alt="RRVS tool">			
                <br><br><br>
				{{ rrvs_form.gid_field.label }}
				{{ rrvs_form.gid_field(readonly=True)}}						
                <br><br><br><br>
				{{ rrvs_form.rrvs_status_field.label }}
				{{ rrvs_form.rrvs_status_field }}								
				<br>
				{{ rrvs_form.submit }}
				<!--<p>{{c}} of {{n}} buildings screened</p>-->
		   </div>
		   <div class="formLayoutTable">
			   <!--the actual data table with building ids and rrvs status columns-->
			   <table id="rrvsFormTable" class="hover"></table>
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-1" name="tab-group-1" checked>
               <label class="tablabel" for="tab-1">{{gettext('Mat.')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.mat_type_field.label }}
						{{ rrvs_form.mat_type_field }}
						<br>
						{{ rrvs_form.mat_tech_field.label }}
						{{ rrvs_form.mat_tech_field }}
						<br>
						{{ rrvs_form.mat_prop_field.label }}
						{{ rrvs_form.mat_prop_field }}
					</div>
					
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-2" name="tab-group-1">
               <label class="tablabel" for="tab-2">{{gettext('LLRS')}}</label>
			   <div class="content">
				   <div class="formLayout">					
						{{ rrvs_form.llrs_field.label }}
						{{ rrvs_form.llrs_field }}
						<br>
						{{ rrvs_form.llrs_duct_field.label }}
						{{ rrvs_form.llrs_duct_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-3" name="tab-group-1" on-click="height2switch()">
               <label class="tablabel" for="tab-3">{{gettext('H')}}</label>
			   <div class="content">
				    <div id="heightRadio" class="formLayout">					
						{{ rrvs_form.height_field.label }}
						{{ rrvs_form.height_field }}
                        <br>
                    <!--/div-->
                    <!--div id="height2" class="formLayout" style="display:none"-->
						{{ rrvs_form.height_1_val_field.label }}
						{{ rrvs_form.height_1_val_field }}
                        <br>
						{{ rrvs_form.height2_field.label }}
						{{ rrvs_form.height2_field }}
                        <br>
						{{ rrvs_form.height2_1_val_field.label }}
						{{ rrvs_form.height2_1_val_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-4" name="tab-group-1">
               <label class="tablabel" for="tab-4">{{gettext('Age')}}</label>
			   <div class="content">
					<div class="formLayout">					
						{{ rrvs_form.yr_built_field.label }}
						{{ rrvs_form.yr_built_field }}
						<br>
						{{ rrvs_form.year_1_val_field.label }}
						{{ rrvs_form.year_1_val_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-5" name="tab-group-1">
               <label class="tablabel" for="tab-5">{{gettext('Occ.')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.occupy_field.label }}
						{{ rrvs_form.occupy_field }}
						<br>
						{{ rrvs_form.occupy_dt_field.label }}
						{{ rrvs_form.occupy_dt_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-6" name="tab-group-1">
               <label class="tablabel" for="tab-6">{{gettext('Plan&Pos.')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.plan_shape_field.label }}
						{{ rrvs_form.plan_shape_field }}
                        <br>
						{{ rrvs_form.position_field.label }}
						{{ rrvs_form.position_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-7" name="tab-group-1">
               <label class="tablabel" for="tab-7">{{gettext('Str.Irreg.')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.str_irreg_field.label }}
						{{ rrvs_form.str_irreg_field }}
                        <br>
						{{ rrvs_form.str_irreg_dt_field.label }}
						{{ rrvs_form.str_irreg_dt_field }}
                        <br>
						{{ rrvs_form.str_irreg_type_field.label }}
						{{ rrvs_form.str_irreg_type_field }}
                        <br>
					<!--/div-->
                    <!--input type="radio" onclick="javascript:secondIrregCheck();" id="IrregCheck"/> Second Irregularity -->
					<!--div id="secondIrreg" class="formLayout" style="display:none"-->
						{{ rrvs_form.str_irreg_2_field.label }}
						{{ rrvs_form.str_irreg_2_field }}
                        <br>
						{{ rrvs_form.str_irreg_dt_2_field.label }}
						{{ rrvs_form.str_irreg_dt_2_field }}
                        <br>
						{{ rrvs_form.str_irreg_type_2_field.label }}
						{{ rrvs_form.str_irreg_type_2_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-8" name="tab-group-1">
               <label class="tablabel" for="tab-8">{{gettext('Ext. Walls')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.nonstrcexw_field.label }}
						{{ rrvs_form.nonstrcexw_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-9" name="tab-group-1">
               <label class="tablabel" for="tab-9">{{gettext('Roof')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.roof_shape_field.label }}
						{{ rrvs_form.roof_shape_field }}
                        <br>
						{{ rrvs_form.roofcovmat_field.label }}
						{{ rrvs_form.roofcovmat_field }}
                        <br>
						{{ rrvs_form.roofsysmat_field.label }}
						{{ rrvs_form.roofsysmat_field }}
                        <br>
						{{ rrvs_form.roofsystyp_field.label }}
						{{ rrvs_form.roofsystyp_field }}
                        <br>
						{{ rrvs_form.roof_conn_field.label }}
						{{ rrvs_form.roof_conn_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-10" name="tab-group-1">
               <label class="tablabel" for="tab-10">{{gettext('Floors')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.floor_mat_field.label }}
						{{ rrvs_form.floor_mat_field }}
                        <br>
						{{ rrvs_form.floor_type_field.label }}
						{{ rrvs_form.floor_type_field }}
                        <br>
						{{ rrvs_form.floor_conn_field.label }}
						{{ rrvs_form.floor_conn_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-11" name="tab-group-1">
               <label class="tablabel" for="tab-11">{{gettext('Foundn. Sys.')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.foundn_sys_field.label }}
						{{ rrvs_form.foundn_sys_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-12" name="tab-group-1">
               <label class="tablabel" for="tab-12">{{gettext('Optional')}}</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.comment_field.label }}
                        {{ rrvs_form.comment_field(cols="35",rows="7") }}
                        <br>
						{{ rrvs_form.vuln_field.label }}
						{{ rrvs_form.vuln_field }}
					</div>
			   </div> 
		   </div>
		</div>
	</form>
	
	<script type="text/javascript">
	// generate dynamic rrvsFormTable with building ids and rrvs status columns
	$(document).ready(function create_table() {
		var table = $('#rrvsFormTable').DataTable({
						scrollY: 240,
						paging: false,
						data: {{bdgs|safe}},
						columns: [
							{ title: "BuildingID" },
							{ title: "RRVS Status" }
						]
					});		
		// add on click event to rrvsFormTable rows
		$('#rrvsFormTable tbody').on('click', 'tr', function () {
			// change table row style on click to mark it selected
			if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
			}
			else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
			// update rrvsForm
			// focus in and out of the gid_field needed by rrvsform.html to trigger the form update function (on focusout)
			var data = table.row( this ).data();
			$('input[name="gid_field"]').focus();	
			$('input[name="gid_field"]').val(data[0]);
			//$('input[name="gid_field"]').focus();	
			$('#rrvs_status_field').focus();
			// update map and panoviewer
			console.log('rrvsform: ' + $('input[name="gid_field"]').val());
			var ifrm = parent.document.getElementById('ifrm2');
			ifrm.contentWindow.updateMap($('input[name="gid_field"]').val());
		} );
	} );
					
	$(function form_update() {
	  // trigger form update on focusout of the gid_field
	  $('input[name="gid_field"]').focusout(function() {		
		$.getJSON($SCRIPT_ROOT + '/_update_rrvsform', {
		  // send gid_field value to server for database query
		  gid_val: $('input[name="gid_field"]').val()
		}, function(data) {
		  // update form fields with results from server
		  $('select[name="mat_type_field"]').val(data.mat_type_gid);
		  $('select[name="mat_tech_field"]').val(data.mat_tech_gid);
		  $('select[name="mat_prop_field"]').val(data.mat_prop_gid);
		  $('select[name="llrs_field"]').val(data.llrs_gid);
		  $('select[name="llrs_duct_field"]').val(data.llrs_duct_gid);
		  $('select[name="height_field"]').val(data.height_gid);
		  $('input[name="height_1_val_field"]').val(data.height_1_val);
		  $('select[name="height2_field"]').val(data.height2_gid);
		  $('input[name="height2_1_val_field"]').val(data.height2_1_val);
		  $('select[name="yr_built_field"]').val(data.yr_built_gid);
		  $('input[name="year_1_val_field"]').val(data.year_1_val);
		  $('select[name="occupy_field"]').val(data.occupy_gid);
		  $('select[name="occupy_dt_field"]').val(data.occupy_dt_gid);
		  $('select[name="plan_shape_field"]').val(data.plan_shape_gid);
		  $('select[name="position_field"]').val(data.position_gid);
		  $('select[name="str_irreg_field"]').val(data.str_irreg_gid);
		  $('select[name="str_irreg_dt_field"]').val(data.str_irreg_dt_gid);
		  $('select[name="str_irreg_type_field"]').val(data.str_irreg_type_gid);
		  $('select[name="str_irreg_2_field"]').val(data.str_irreg_2_gid);
		  $('select[name="str_irreg_dt_2_field"]').val(data.str_irreg_dt_2_gid);
		  $('select[name="str_irreg_type_2_field"]').val(data.str_irreg_type_2_gid);
		  $('select[name="nonstrcexw_field"]').val(data.nonstrcexw_gid);
		  $('select[name="roof_shape_field"]').val(data.roof_shape_gid);
		  $('select[name="roofcovmat_field"]').val(data.roofcovmat_gid);
		  $('select[name="roofsysmat_field"]').val(data.roofsysmat_gid);
		  $('select[name="roofsystyp_field"]').val(data.roofsystyp_gid);
		  $('select[name="roof_conn_field"]').val(data.roof_conn_gid);
		  $('select[name="floor_mat_field"]').val(data.floor_mat_gid);
		  $('select[name="floor_type_field"]').val(data.floor_type_gid);
		  $('select[name="floor_conn_field"]').val(data.floor_conn_gid);
		  $('select[name="foundn_sys_field"]').val(data.foundn_sys_gid);
                  $('#comment_field').val(data.comment_val);
		  $('select[name="vuln_field"]').val(data.vuln_gid);
		  //$('input[name="vuln_field"]').val(data.vuln_val);
		  //$('input[name="comment_field"]').val(data.comment_val);
		  // update the rrvs_status checkbox
		  // note: needed to reformat the rrvs_status_val to fit a boolean checkbox field
		  if(data.rrvs_status_val == "COMPLETED"){
			  $("#rrvs_status_field").prop('checked', true);
		  } else{
			  $("#rrvs_status_field").prop('checked', false);
		  }
		});
		return false;
	  });
	});  

	// trigger map update on click of the submit button
	// note: needed to refresh map layer rendering after data was modified by rrvsform
	// note: a timeout of 1 ms is needed before the refresh
	$("#submit").click(setTimeout(function() {
		var ifrm = parent.document.getElementById('ifrm2');
		ifrm.src = ifrm.src;
	  }), 1);
	$(parent.document.getElementById('ifrm2')).on("load", function () {
		var ifrm = parent.document.getElementById('ifrm2');
		ifrm.contentWindow.updateMap($('input[name="gid_field"]').val());
	});
	</script>
</body>
</html>

