<!DOCTYPE HTML>
<html>
<head>
    <title>RRVS Webtool - Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/datatables/media/css/jquery.dataTables.css">
	<script type="text/javascript" src="../static/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" charset="utf8" src="../static/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
</head>
<body>  
	<script type="text/javascript">
	$(function() {
	  // trigger the form update on focusout of the gid_field
	  $('input[name="gid_field"]').focusout(function() {		
		$.getJSON($SCRIPT_ROOT + '/_update_rrvsform', {
		  // send gid_field value to server for database query
		  gid_val: $('input[name="gid_field"]').val()
		}, function(data) {
		  // update fields with results from server
		  $('select[name="mat_type_field"]').val(data.mat_type_gid);
		  $('select[name="mat_tech_field"]').val(data.mat_tech_gid);
		  $('select[name="mat_prop_field"]').val(data.mat_prop_gid);
		  $('select[name="llrs_field"]').val(data.llrs_gid);
		  $('select[name="height_field"]').val(data.height_gid);
		  $('input[name="height1_field"]').val(data.height1_val);
		  $('select[name="yr_built_field"]').val(data.yr_built_gid);
		  $('select[name="occupy_field"]').val(data.occupy_gid);
		  $('select[name="occupy_dt_field"]').val(data.occupy_dt_gid);
		  $('select[name="nonstrcexw_field"]').val(data.nonstrcexw_gid);
		  // reformat the rrvs_status_val to fit the needs of a boolean checkbox field
		  if(data.rrvs_status_val == "COMPLETED"){
			  $("#rrvs_status_field").attr('checked', true);
		  } else{
			  $("#rrvs_status_field").attr('checked', false);
		  }
		});
		return false;
	  });
	});
		   
	$(function() {
      // trigger map update on click of the submit button
      // note: needed to refresh map layer rendering after data was modified by rrvsform
      // note: a timeout of 1 ms is needed before the refresh
      //TODO: check that this function is ONLY executed on click and NOT also on initial site load
      $("#submit").click( setTimeout(function() {
		  var ifrm = parent.document.getElementById('ifrm2');
		  ifrm.src = ifrm.src;
		  // TODO: after refresh iframe, zoom to selected building again
		  //ifrm.contentWindow.refreshBuildingsJSON()
	  }, 1));
	});
	
	// generate data table with building ids and rrvs status columns
	var dataSet = {{bdgs|safe}};
	$(document).ready(function() {
		$('#rrvsFormTable').DataTable( {
			scrollY: 135,
			paging: false,
			data: dataSet,
			columns: [
				{ title: "BuildingID" },
				{ title: "RRVS Status" }
			]
		} );
	} );	
	</script>

	<form id="rrvsForm" action="{{ url_for('rrvsform') }}" method=post>
		{{ rrvs_form.hidden_tag() }}   				
		<div class="tabs">
		   <div class="formLayoutGeneral"> 
				<img class="banner" src="{{ url_for('static', filename='img/banner.svg') }}" alt="RRVS tool">			
				<br><br>
				{{ rrvs_form.gid_field.label }}
				{{ rrvs_form.gid_field(readonly=True)}}						
				<br>
				{{ rrvs_form.rrvs_status_field.label }}
				{{ rrvs_form.rrvs_status_field }}								
				<br>
				{{ rrvs_form.submit }}
				<!--<p>{{c}} of {{n}} buildings screened</p>-->
		   </div>
		   <div class="formLayoutTable">
			   <!--the actual data table with building ids and rrvs status columns-->
			   <table id="rrvsFormTable" class="hover"></table>
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-1" name="tab-group-1" checked>
			   <label class="tablabel" for="tab-1">Material</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.mat_type_field.label }}
						{{ rrvs_form.mat_type_field }}
						<br>
						{{ rrvs_form.mat_tech_field.label }}
						{{ rrvs_form.mat_tech_field }}
						<br>
						{{ rrvs_form.mat_prop_field.label }}
						{{ rrvs_form.mat_prop_field }}
					</div>
					
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-2" name="tab-group-1">
			   <label class="tablabel" for="tab-2">LLRS</label>
			   <div class="content">
				   <div class="formLayout">					
						{{ rrvs_form.llrs_field.label }}
						{{ rrvs_form.llrs_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-3" name="tab-group-1">
			   <label class="tablabel" for="tab-3">Height</label>
			   <div class="content">
				    <div class="formLayout">					
						{{ rrvs_form.height_field.label }}
						{{ rrvs_form.height_field }}
						<br>
						{{ rrvs_form.height1_field.label }}
						{{ rrvs_form.height1_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-4" name="tab-group-1">
			   <label class="tablabel" for="tab-4">Age</label>
			   <div class="content">
					<div class="formLayout">					
						{{ rrvs_form.yr_built_field.label }}
						{{ rrvs_form.yr_built_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-5" name="tab-group-1">
			   <label class="tablabel" for="tab-5">Occupancy</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.occupy_field.label }}
						{{ rrvs_form.occupy_field }}
						<br>
						{{ rrvs_form.occupy_dt_field.label }}
						{{ rrvs_form.occupy_dt_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-6" name="tab-group-1">
			   <label class="tablabel" for="tab-6">Exterior Walls</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.nonstrcexw_field.label }}
						{{ rrvs_form.nonstrcexw_field }}
					</div>
			   </div> 
		   </div>
		</div>
	</form>
</body>
</html>
