<!DOCTYPE HTML>
<html>
<head>
    <title>RRVS Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript"> var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
</head>
<body>  
	<script type="text/javascript">
	$(function() {
	  $('input[name="gid_field"]').focusout(function() {		// trigger the form update on focusout of the gid_field
		$.getJSON($SCRIPT_ROOT + '/_update_rrvsform', {
		  gid_val: $('input[name="gid_field"]').val()			// send gid_field value to server for database query
		}, function(data) {
		  $('select[name="mat_type_field"]').val(data.mat_type_gid);	// update fields with results from server
		  $('select[name="mat_tech_field"]').val(data.mat_tech_gid);
		  $('select[name="mat_prop_field"]').val(data.mat_prop_gid);
		  $('select[name="llrs_field"]').val(data.llrs_gid);
		  $('select[name="height_field"]').val(data.height_gid);
		  $('input[name="height1_field"]').val(data.height1_val);
		  $('select[name="yr_built_field"]').val(data.yr_built_gid);
		  $('select[name="occupy_field"]').val(data.occupy_gid);
		  $('select[name="occupy_dt_field"]').val(data.occupy_dt_gid);
		  $('select[name="nonstrcexw_field"]').val(data.nonstrcexw_gid);
		});
		return false;
	  });
	});
	</script>
	<form id="rrvsForm" action="{{ url_for('rrvsform') }}" method=post>
		{{ rrvs_form.hidden_tag() }}   				
		<div class="tabs">
		   <div class="formLayoutGeneral" style="background-color: #efefef; border: solid 1px #efefef;"> 
				<img class="banner" src="{{ url_for('static', filename='img/banner.svg') }}" alt="RRVS tool">			
				<br><br>
				{{ rrvs_form.gid_field.label }}
				{{ rrvs_form.gid_field(readonly=true)}}
				<br>
				{{ rrvs_form.submit }}
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-1" name="tab-group-1" checked>
			   <label class="tablabel" for="tab-1">Material</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.mat_type_field.label }}
						{{ rrvs_form.mat_type_field }}
						
						{{ rrvs_form.mat_tech_field.label }}
						{{ rrvs_form.mat_tech_field }}

						{{ rrvs_form.mat_prop_field.label }}
						{{ rrvs_form.mat_prop_field }}
					</div>
					
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-2" name="tab-group-1">
			   <label class="tablabel" for="tab-2">LLRS</label>
			   <div class="content">
				   <div class="formLayout">					
						{{ rrvs_form.llrs_field.label }}
						{{ rrvs_form.llrs_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-3" name="tab-group-1">
			   <label class="tablabel" for="tab-3">Height</label>
			   <div class="content">
				    <div class="formLayout">					
						{{ rrvs_form.height_field.label }}
						{{ rrvs_form.height_field }}
						{{ rrvs_form.height1_field.label }}
						{{ rrvs_form.height1_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-4" name="tab-group-1">
			   <label class="tablabel" for="tab-4">Age</label>
			   <div class="content">
					<div class="formLayout">					
						{{ rrvs_form.yr_built_field.label }}
						{{ rrvs_form.yr_built_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-5" name="tab-group-1">
			   <label class="tablabel" for="tab-5">Occupancy</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.occupy_field.label }}
						{{ rrvs_form.occupy_field }}
						
						{{ rrvs_form.occupy_dt_field.label }}
						{{ rrvs_form.occupy_dt_field }}
					</div>
			   </div> 
		   </div>
		   <div class="tab">
			   <input type="radio" id="tab-6" name="tab-group-1">
			   <label class="tablabel" for="tab-6">Exterior Walls</label>
			   <div class="content">
					<div class="formLayout">
						{{ rrvs_form.nonstrcexw_field.label }}
						{{ rrvs_form.nonstrcexw_field }}
					</div>
			   </div> 
		   </div>
		</div>
	</form>
</body>
</html>
