/* General */
html, body,#map {
    position: fixed;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
th {
	text-align: left;
	vertical-align: top;
}	

.banner {
	height: 60px;
}

/* Login page */
.logform {
  position: fixed; 
  top: 10%; 
  left: 50%; 
  margin-left: -200px;
  font: 14px Arial, Helvetica, sans-serif;
  color: #0B2F3A;
}

.logformLayout
{
	float: left;
	background-color: #fff;
	border: solid 1px #fff;
	padding: 20px;
	width: 350px;
}

.logformLayout label
{
	display: block;
	width: 100px;
	float: left;
	margin-bottom: 5px;
	font: 14px Arial, Helvetica, sans-serif;
	text-align: right;
	padding-right: 20px;
	padding-top: 4px;
}

.logformLayout input
{
	display: block;
	width: 100px;
	float: left;
	font: 14px Arial, Helvetica, sans-serif;
	text-align: center;
}

.footer, .footer a
{
	font: 10px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #008000;
	text-decoration: none;
}

/* Leaflet map */
.info {
	padding: 6px 8px;
	font: 14px/14px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h2 {
	margin: 0 0 5px;
	color: #777;
}

/* RRVS form */
.formLayoutGeneral
{
	float: left;
	width: 230px; /*250px*/
	border: solid;
	border-width: 1px;
	border-color: #efefef;
}

.formLayoutGeneral label
{
	display: block;
	width: 60px;
	float: left;
	margin-bottom: 5px;
	font: 14px Arial, Helvetica, sans-serif;
	text-align: left;
	padding-right: 20px;
	padding-top: 4px;
}

.formLayoutGeneral select, .formLayoutGeneral input
{
	display: block;
	width: 120px;
	margin-bottom: 10px;
}

.formLayout
{
	float: left;
	background-color: #fff;
	border: solid 1px #fff;
	padding: 0px;
	width: 600px; /*600px*/
	height: 300px; /*600px*/
}

.formLayout label
{
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 5px;
	font: 14px Arial, Helvetica, sans-serif;
	text-align: right;
	padding-right: 20px;
	padding-top: 4px;
}

.formLayout input
{
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 5px;
	font: 14px Arial, Helvetica, sans-serif;
	text-align: right;
	padding-right: 20px;
	padding-top: 4px;
}

.formLayout select
{
	display: block;
	float: left;
	width: 350px;
	margin-bottom: 10px;
}

.formLayoutTable
{
	float: left;
	width: 310px;
	margin-right: 8px;
}

br
{
	clear: left;
}

.tabs {
  position: relative;   
  height: 350px;
  clear: both;
  margin: 0px 0;
}
.tab {
  float: left;
}
.tablabel {
  background: #eee; 
  font: 14px Arial, Helvetica, sans-serif;
  padding: 5px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 23px;
  left: 552px; /*252px*/
  background: white;
  font: 14px Arial, Helvetica, sans-serif;
  color: #0B2F3A;
  text-align: center;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
